body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 512px;
    height: auto;
}
